{% extends "base.html" %}


{% block title %}Confirmation{% endblock title %}


{% block content %}
<h1>Password Reset</h1>
<br
<p>You are receiving this email because someone requested to reset their password</p>
<p>If this was not you, then please disregard this email</p>
<form method = POST>
    {csrf_token %}
    {{ form.as_p }}
<p>Please type in a new password containing:</p>
    <h5>A capital letter</h5>
    <h5>A lowercase letter</h5>
    <h5>A number</h5>
    <h5>At least 6 or more characters</h5>
    input type="submit" value="Reset Password" class="btn btn-danger>"
    <p>Retype your new password for confirmation</p>
</form>
{% endblock content %}

