<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Page{% endblock title %}</title>
</head>
<body>
    {% block content %}
    <h1>Welcome to the Message Board!</h1>
    <br
    <br
    <p>Here's everything you need to know in a 
        <img src="{% static 'images/nutshellRsz.jpg' %}" alt="empty nutshell"></p>
    <p>You can read - and share - any of the posts on this site.  You can also create an account by signing in.  This will allow you to write posts, as well as edit and delete your own contributions.</p>
    <p>We hope you enjoy your time on our site, and maybe learn something along the way.</p>
    {% endblock content %}
</body>
</html>